.cart-item-main-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-item-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-left: 20px;
}

.cart-item-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.cart-item-sub-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 30%;
}
